#one {
  background: url(../img/koffe_break_konsult_0.jpg) no-repeat center top fixed;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size:cover;background-size:cover;
  height: 100%;
  margin: 0 auto;
  width: 100%;
  position: relative;
}
 